<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1><%= labels.title %></h1>
                    <h2><%= labels.notFound %></h2>
                    <div class="error-details">
                        <%= labels.details %>
                    </div>
                    <div class="error-actions">
                        <a href="#home" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            <%= labels.backToHome %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
